@value memoListTitle, memoListBack from '../../common/colors.css';
@value mainHeaderFont from '../../common/font.css';

.memoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: memoListBack;
  height: 100%;
  width: 100%;
  list-style: none;
}

.memoList.detailList {
  width: 30rem;
  height: 100%;
}

.listHeader {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.title {
  margin: 0;
  color: memoListTitle;
  flex-basis: 10%;
  font-family: mainHeaderFont;
  font-size: 1.8rem;
}

.title.detailList {
  flex-basis: 100%;
}

.MemoSearch {
  width: 80%;
}

.MemoSearch.detailList {
  display: none;
}

.checkbox {
  flex-basis: auto;
  cursor: pointer;
  margin: 0 0 0 1em;
  width: 3em;
  height: 2em;
  border: 1px solid red;
  border-radius: 50%;
}

.checkbox.detailList {
  display: none;
}

.deleteBtn {
  width: 100%;
  flex-basis: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  cursor: pointer;
}

.deleteBtn.detailList {
  display: none;
}

.listbox {
  width: 80%;
  height: 100%;
  display: inline-block;
  padding: 1em;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.listbox::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

@media screen and (max-width: 62rem) {
  .title {
    display: none;
  }
  .memoList {
    flex-basis: 100%;
    height: 90vh;
  }
  .memoList.detailList {
    width: 100%;
    height: 31vh;
  }
  .listbox {
    height: 100%;
  }
  .checkbox {
    width: 2em;
    height: 1.5em;
    margin: 0 0.5em 0 1em;
  }
}
