.memoMaker {
  width: 90rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.selectedScreen {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.detail {
  flex-basis: 90%;
}

.list {
  display: flex;
  flex-basis: 10%;
}

@media screen and (max-width: 62rem) {
  .container {
    flex-direction: column;
  }
  .selectedScreen {
    flex-direction: column;
  }
  .list {
    display: flex;
    flex: 1;
    width: 100%;
  }
}
