@value headerAndFooter from '../../common/colors.css';

.header {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background-color: headerAndFooter;
  position: relative;
  flex-basis: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40em;
  height: 100%;
  margin-right: 5.5em;
}

.youtubeButton,
.memoMakerButton {
  flex-basis: 50%;
}

.logout {
  flex-basis: 20%;
}

.title {
  margin: 0;
  margin-left: 5em;
  color: white;
  text-align: center;
}

@media screen and (max-width: 62rem) {
  .header {
    justify-content: space-between;
    border: 1px solid green;
  }
  .title {
    margin: 0;
  }
  .buttonBox {
    margin: 0;
    width: 20em;
    justify-content: space-evenly;
  }

  .youtubeButton,
  .memoMakerButton {
    flex-basis: 50%;
  }
  .logout {
    flex-basis: 30%;
  }
}
