@value headerAndFooter from '../../common/colors.css';

.header,
.loginHeader {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background-color: headerAndFooter;
  position: relative;
  flex-basis: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginHeader {
  justify-content: center;
}

.buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40em;
  height: 100%;
  margin-right: 5.5em;
}

.buttonBoxMobile {
  display: none;
}

.youtubeButton {
  margin-right: 0.5em;
}

.youtubeButton,
.memoMakerButton {
  flex-basis: 50%;
}

.logout {
  flex-basis: 20%;
}

.title,
.loginTitle {
  margin: 0;
  color: white;
  text-align: center;
  text-decoration: none;
}

.title {
  margin-left: 5em;
  font-size: 1.5em;
}

@media screen and (max-width: 62rem) {
  .title {
    margin: 0;
    font-size: 1em;
  }
  .buttonBox {
    display: none;
  }

  .buttonBoxMobile {
    display: flex;
    margin: 0;
    width: 10em;
    justify-content: space-evenly;
    font-size: 1em;
  }

  .youtubeButton,
  .memoMakerButton {
    flex-basis: 40%;
  }
  .logout {
    flex-basis: 20%;
  }
}
