@value headerAndFooter from '../../common/colors.css';

.header {
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  background-color: headerAndFooter;
  position: relative;
  flex-basis: 5%;
}

.title {
  margin: 0;
  color: white;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.1em;
  border-radius: 20%;
  background-color: black;
  color: white;
  outline: 0;
  cursor: pointer;
}
