@value themeDarkBack, themeDarkFont, themeRedBack, themeRedFont, themeBlueBack, themeBlueFont, themeRedBackLinear, themeBlueBackLinear from '../../common/colors.css';

.detailBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.youtube {
  flex-basis: 50%;
}

.memoBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  width: 100%;
}

.inputAndSelectBox {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
}

.title {
  flex-basis: 90%;
}

.title.dark,
.select.dark,
.content.dark {
  background: themeDarkBack;
  color: themeDarkFont;
}

.title.red,
.content.red {
  background-color: themeRedBack;
  background: themeRedBackLinear;
  color: themeRedFont;
}
.select.red {
  background-color: themeRedBack;
  color: themeRedFont;
}

.title.blue,
.content.blue {
  background: themeBlueBack;
  background: themeBlueBackLinear;
  color: themeBlueFont;
}
.select.blue {
  background-color: themeBlueBack;
  color: themeBlueFont;
}

.select {
  flex: 1;
}

.content {
  resize: none;
  overflow-y: auto;
  height: 93%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.btnBox {
  display: flex;
}

@media screen and (max-width: 62rem) {
  .detailBox {
    height: 100%;
  }
  .memoBox {
    flex-basis: 50%;
  }
  .youtube {
    flex-basis: 45%;
  }
  .inputAndSelectBox {
    height: 100%;
  }
  .title {
    height: 100%;
  }

  .btnBox {
    flex-basis: 5%;
  }
}
