@value makerTitle, creatorBack from '../../common/colors.css';

.creator {
  flex-basis: 20%;
  background-color: creatorBack;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 1em;
  color: makerTitle;
}
