.youtubeMain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 0;
  min-width: 0;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.detail {
  width: 70vw;
}
.list {
  width: 30vw;
}
.selectList {
  width: 100vw;
}

@media screen and (max-width: 62rem) {
  .container {
    flex-direction: column;
  }
}
