.detail {
  padding: 0.2em;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 70vw;
}

.video {
  width: 100%;
}

.pre {
  white-space: pre-wrap;
}

@media screen and (max-width: 62rem) {
  .video {
    height: 40vh;
  }
  .detail {
    width: 100vw;
    height: 100%;
  }
}
